.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.bg-gradient {
  background: rgb(17,17,17);
  background: linear-gradient(to right, rgba(17,17,17,0) 0%, rgba(17,17,17,0.85) 10%, rgba(17,17,17,1) 100%);
}

.anim-150 {
  animation-duration: 0.15s;
}

.anim-200 {
  animation-duration: 0.2s;
}

.anim-300 {
  animation-duration: 0.3s;
}

.anim-500 {
  animation-duration: 0.5s;
}

.fadeInRight {
  animation-name: fadeInRight;
  animation-fill-mode: both;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeOutRight {
  animation-name: fadeOutRight;
  animation-fill-mode: both;
}
@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

.extendIn {
  animation-name: extendIn;
  animation-fill-mode: both;
}
@keyframes extendIn {
  0% {
    transform: scaleX(0.1);
  }
  
  100% {
    transform: scaleX(1);
  }
}

.extendOut {
  animation-name: extendOut;
  animation-fill-mode: both;
}
@keyframes extendOut {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0.2);
  }
}
